<%= render 'layouts/header' %>
<div class = "container">
 <div class = "row">
  
  <h1>希望製造メーカー</h1>
    <div class = "col-xs-5">
		<h4>国産メーカー希望</h4>
		<%= link_to selections_contry_path do %>
		<%= image_tag "/images/Japan-6.png", :size =>"300x300" %>
		<% end %>
    </div>
    <div class = "col-xs-2">
		<h4>メーカーに希望なし</h4>
		<%= link_to selections_pick_path do %>
		<%= image_tag "/images/continents-28616_960_720.png",:size =>"300x300" %>
	    <% end %>
    </div>
 </div>
</div>
