<%= render 'layouts/header' %>
<h3>希望製造メーカー</h3>

国産メーカー希望
<%= link_to selections_contry_path do %>
<%= image_tag "Android.jpg", :size =>"400x400" %>
<% end %>

メーカーに希望なし
<%= link_to selections_pick_path do %>
<%= image_tag "Android.jpg", :size =>"400x400" %>
<% end %>