<%= render 'layouts/header' %>
<h3>希望製造メーカー</h3>

国産メーカー希望
<%= link_to selections_contry_path do %>
<%= image_tag "Japan-6.png", :size =>"400x400" %>
<% end %>

メーカーに希望なし
<%= link_to selections_pick_path do %>
<%= image_tag "continents-28616_960_720.png",:size =>"400x400" %>
<% end %>