<%= render 'layouts/header' %>
<div class = "container">
	<%= link_to '商品一覧へ',products_path%>
	<h2>XPERIA1</h2>
	<%= image_tag '128.jpg' ,:size =>"250x250"%>
	<<h2>XPERIA Ace</h2>
	<%= image_tag '124.jpg' ,:size =>"250x250"%>
	<h2>arrows Be3</h2>
	<%= image_tag '123.jpg' ,:size =>"250x250"%>
</div>