<%= render 'layouts/header' %>
<h3>最も重視する項目</h3>



音質の良いスマホ
<%= link_to selections_music_path do %>
<%= image_tag "Android.jpg", :size =>"400x400" %>
<% end %>

カメラ機能の良いスマホ
<%= link_to selections_camera_path do %>
<%= image_tag "Android.jpg", :size =>"400x400" %>
<% end %>

高速通信で快適に操作できるスマホ
<%= link_to selections_comfort_path do %>
<%= image_tag "Android.jpg", :size =>"400x400" %>
<% end %>

落としても壊れにくい頑丈なスマホ
<%= link_to selections_robust_path do %>
<%= image_tag "Android.jpg", :size =>"400x400" %>
<% end %>

バッテリーの持ちが良いスマホ
<%= link_to selections_charge_path do %>
<%= image_tag "Android.jpg", :size =>"400x400" %>
<% end %>