<%= render 'layouts/header' %>
<div class = "container">
 <div class = "row">
  <h2>最も重視する項目</h2>
　  <div class = "pick_box1"style="text-align: center;">
		<h4>音質の良いスマホ</h4>
		<%= link_to selections_music_path do %>
		<%= image_tag "/images/iPhonemusic_TP_V.jpg", :size =>"150x150" %>
		<% end %>
	</div>
	<div class = "pick_box2"style="text-align: center;">
		<h4>カメラ機能の良いスマホ</h4>
		<%= link_to selections_camera_path do %>
		<%= image_tag "/images/TSURU1891A044_TP_V.jpg", :size =>"150x150" %>
		<% end %>
	</div>
	<div class = "pick_box3"style="text-align: center;" >
		<h4>高速通信で快適に操作できるスマホ</h4>
		<%= link_to selections_comfort_path do %>
		<%= image_tag "/images/KAZ19112C082_TP_V.jpg", :size =>"150x150" %>
		<% end %>
	</div>
 </div>
 <div class = "row">
	<div class = "pick_box4"style="text-align: center;">
		<h4>落としても壊れにくい頑丈なスマホ</h4>
		<%= link_to selections_robust_path do %>
		<%= image_tag "/images/PAK75_waretaekisyougamen20130720_TP_V.jpg", :size =>"150x150" %>
		<% end %>
	</div>
	<div class = "pick_box5"style="text-align: center;">
		<h4>バッテリーの持ちが良いスマホ</h4>
		<%= link_to selections_charge_path do %>
		<%= image_tag "/images/iphoneFTHG5550_TP_V.jpg", :size =>"150x150" %>
		<% end %>
	</div>
 </div>
</div>