<div class = "container">
  <div class = row>
   <%= link_to '商品の追加', new_admins_admin_product_path, class: "btn btn-primary col-xs-7" %>
   <%= link_to 'メーカーの追加', new_admins_admin_makers_path, class: "btn btn-primary" %>
   <%= link_to " ログアウト", destroy_admins_admin_user_session_path, method: :delete, class: "btn btn-danger"%> 
  <table class="table table-hover">
    <thead>
     <tr>
      <th>商品名</th>
      <th></th>
     </tr>
    </thead>

    <tbody>
     <% @products.each do |products| %>
      <tr>
       <td class = "contents"><%= products.product_name %></td>
      </tr>
      <tr>
      <td class = "contents"><%= link_to 'show', admins_admin_product_path(products.id), class: "btn-sm btn-success" %></td>
       <td class = "contents"><%= link_to 'edit', edit_admins_admin_product_path(products.id), class: "btn-sm btn-success" %></td>
       <td class = "contents"><%= link_to 'destroy', admins_admin_product_path(products.id), method: :delete, data:{confirm:"Are you sure?"}, class: "btn-sm btn-danger" %></td>
     <% end %>
    </tbody>
  </table>
  </div>
</div