<meta http-equiv="refresh" content="; URL=">

<h3><%= @product.product_name %></h3>
	<div class="slider-for">
		<% @product.imgs.each do |img| %>
		<div>
			<%= attachment_image_tag img, :image, :fill, 250, 250, format: 'jpg' %>
		</div>
		<% end %>
	</div>
	<div class="slider slider-nav">
		<% @product.imgs.each do |img| %>
		<div>
			<%= attachment_image_tag img, :image, :fill, 50, 50, format: 'jpg' %>
		</div>
		<% end %>
	</div>



<p>
 <%= link_to "レビューを投稿する", new_product_review_path(@product), class: "button btn btn-success" %>
</p>


<p class = "review-list-title"> レビュー</p>
	<table class="table">
		<tr style="background-color:#DDDDDD;">
			<th style="width:100px;"> 投稿者</th>
			<th style="width:200px;"> タイトル</th>
			<th style="width:200px;"> 評価</th>
			<th style="width:600px;"> 本文</th>
			<!-- <th style="width:50px;"> </th>
			<th style="width:50px;"> </th> -->

		</tr>

		<% @reviews.each do |r| %>
			<tr>
				<td>
					<%= r.name %>
				</td>
				<td>
					<%= r.title %>
				</td>
				<td>
					<%= r.star %>
				</td>
				<td>
					<%= r.body %>
				</td>
				<td>
					<%#= link_to "レビューを編集する", edit_product_review_path(@product, @review), class: "review-button btn btn-success" %>
				</td>
				<td>
			        <%#= link_to "レビューを削除する", product_review_path(product, @reviews), method: :delete, data:{confirm:"本当に削除しますか?"}, class: "review-button btn btn-warning" %>
			    </td>
			</tr>
		<% end %>
		<%= paginate @reviews, class: "paginate" %>
	</table>

<input type="hidden" id="refresh" value="no">
<script>
$(document).ready(function() {
    var $input = $('#refresh');
    $input.val() == 'yes' ? location.reload(true) : $input.val('yes');
});
</script>
<script type="text/javascript">



$(function(){
$('.slider-for').slick({
  slidesToShow: 1,
  slidesToScroll: 1,
  arrows: false,
  fade: true,
  asNavFor: '.slider-nav'
});
$('.slider-nav').slick({
  slidesToShow: 3,
  slidesToScroll: 1,
  asNavFor: '.slider-for',
  dots: true,
  centerMode: true,
  focusOnSelect: true
});

})
</script>
