<%= render 'layouts/header' %>
　<div class = "header-message">
	<p class = "theme-message">ご購入はオンラインサイト<a href = "https://onlineshop.smt.docomo.ne.jp/index.html" target = "_black">docomo online shop</a>へ</p>
　</div>
  <!-- <meta http-equiv="refresh" content="; URL="> -->
<div class = "container">
  <h3><%= @product.product_name %></h3>
	<div class="slider-for">
		<% @product.imgs.each do |img| %>
		<div>
			<%= attachment_image_tag img, :image, :fill, 250, 250, format: 'jpg' %>
		</div>
		<% end %>
	</div>
	<div class = "clearfix">
	<div class="slider slider-nav clearfix">
		<% @product.imgs.each do |img| %>
		<div class="product-image">
			<%= attachment_image_tag img, :image, :fill, 50, 50, format: 'jpg' %>
		</div>
		<% end %>
	</div>
    </div>
    <div class ="product-spec">
     <h2>スペック</h2>
     <table class="table table-bordered" style="width: 600px;">
     	<thead>
         <tr> 
            <th width="30%">ディスプレイサイズ</th>
            <th width="30%">アウトカメラ</th>
            <th width="30%">インカメラ</th>
            </th>
         </tr>
        </thead>
        <tbody>
         <tr>
         	 <td><%= @product.display  %></td>
         	 <td><%= @product.camera_out %></td>
         	 <td><%= @product.camera_in %></td>
         </tr>
        </tbody>
        <thead>
         <tr>
         	<th>バッテリーの容量</th>
         	<th>RAM</th>
            <th>ROM</th>
         </tr>
        </thead>
        <tbody>
         <tr>
            <td><%= @product.battery %></td>
            <td><%= @product.ram  %></td>
            <td><%= @product.rom  %></td>
         </tr>
        </tbody>
        <thead>
        <tr>
        	<th>LTE通信速度<br>(下り/上)
            <th>ワンセグ機能</th>
            <th>お財布ケータイ NFC</th>
            
         </tr>
        </thead>
        <tbody>
         <tr>
         	<td><%= @product.speed %></td>
            <td><%= @product.onesegment %></td>
            <td><%= @product.felica %></td>
         </tr>
        </tbody>
        <thead>
        <tr>
        	<th>認証システム</th>
            <th>防水・防塵</th>
            <th>スマホの大きさ<br>(高さ×幅×厚さ)</th> 
         </tr>
        </thead>
        <tbody>
         <tr>
         	<td><%= @product.authentication  %></td>
         	<td><%= @product.waterproof %></td>
         	<td><%= @product.size %></td>
         </tr>
        </tbody>
        <thead>
        <tr>
            <th>メーカー</th>
            <td colspan="2" align="center"><%= @product.maker  %></td>
        </tr>
        </thead>
     </table>
    </div>

 <div class = "review_button">
  <%= link_to "レビューを投稿する", new_product_review_path(@product), class: "button btn btn-success" %>
 </div>


<h3>レビュー</h3>
	<table class="table">
		<tr style="background-color:#DDDDDD;">
			<th style="width:100px;"> 投稿者</th>
			<th style="width:200px;"> タイトル</th>
			<th style="width:200px;"> 評価</th>
			<th style="width:600px;"> 本文</th>
			<!-- <th style="width:50px;"> </th>
			<th style="width:50px;"> </th> -->

		</tr>

		<% @reviews.each do |r| %>
			<tr>
				<td>
					<%= r.name %>
				</td>
				<td>
					<%= r.title %>
				</td>
				<td>
					<div id="star<%= r.id %>"></div>
	                <script>
				        $('#star<%= r.id %>').raty({
				            size: 36,
				            starOff:  '<%= public_path('star-off.png') %>',
				            starOn : '<%= public_path('star-on.png') %>',
				            starHalf: '<%= public_path('star-half.png') %>',
				            half: true,
				            readOnly: true,
				            score: '<%= r.star %>',
				        });
			         </script>
				</td>
				<td>
					<%= r.body %>
				</td>
				<!-- <td>
					<%#= link_to "レビューを編集する", edit_product_review_path(@product, @review), class: "review-button btn btn-success" %> 
				<td>
			        <%#= link_to "レビューを削除する", product_review_path(product, @reviews), method: :delete, data:{confirm:"本当に削除しますか?"}, class: "review-button btn btn-warning" %>
			    </td> -->
			</tr>
		<% end %>
		<%= paginate @reviews, class: "paginate" %>
	</table>
</div>
<input type="hidden" id="refresh" value="no">
<script>
$(document).ready(function() {
    var $input = $('#refresh');
    $input.val() == 'yes' ? location.reload(true) : $input.val('yes');
});
</script>
<script type="text/javascript">



$(function(){
var productCount = $(".product-image").length;

$('.slider-for').slick({
  slidesToShow: 1,
  slidesToScroll: 1,
  arrows: false,
  fade: true,
});
$('.slider-nav').slick({
  slidesToShow: productCount,
  slidesToScroll: 1,
  arrows: false,
  asNavFor: '.slider-for',
  focusOnSelect: true
});

})


</script>
